@mixin button-reset {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	border: 0;
	display: block;
	outline: none;
	padding: 0;
	margin: 0;
}

@mixin clear-fix {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

//@mixin grid-element($type: desktop) {
//	@for $i from 1 through 12 {
//		@for $j from $i through 12 {
//			.zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock[data-width-#{$type}="#{$i}"][data-width-#{$type}-context="#{$j}"] {
//				width: 100% * $i / $j - 2%;
//			}
//		}
//	}
//}

.zauberfisch\\PageBuilder\\Form\\Field {
	min-width: 600px;
	
	.grid-controls {
		float: right;
		
		.icon-button {
			display: block;
			float: left;
			padding: 6px 8px;
			height: 14px;
		}
	}
	> .middleColumn {
		margin: 0 auto !important;
		
		*, *:before, *:after {
			box-sizing: border-box;
		}
		.chzn-container {
			*, *:before, *:after {
				box-sizing: content-box;
			}
		}
	}
	div.hidden-dropdown {
		> label {
			display: inline-block;
			opacity: .6;
			
			&:after {
				content: ':';
			}
		}
		.middleColumn {
			display: inline-block;
			//float: left;
			
			.chzn-container {
				width: auto !important;
				min-width: 0;
				
				.chzn-single {
					display: block;
					background: transparent;
					border: 0;
					padding: 0;
					box-shadow: none;
					height: 16px;
					line-height: 16px;
					float: left;
					
					span {
						display: inline-block;
						margin: 0 5px 0 0;
					}
					div {
						display: inline-block;
						width: auto;
						position: static;
						height: 16px;
						line-height: 16px;
						vertical-align: top;
						
						&:before {
							font-family: "silverstripe" !important;
							font-style: normal !important;
							font-weight: normal !important;
							font-variant: normal !important;
							text-transform: none !important;
							speak: none;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							content: "u";
							display: inline-block;
							height: 16px;
							line-height: 16px;
						}
						b {
							display: none;
						}
					}
				}
				.chzn-drop {
					min-width: 200px;
					border: 1px solid #aaa;
					border-radius: 4px;
					margin: 5px 0 0 -5px;
				}
			}
		}
	}
	.clear {
		clear: both;
	}
	.fieldgroup {
		> .fieldgroup-field, > div.field {
			float: left;
			margin: 0 10px 0 0 !important;
			padding: 0 8px 8px 0 !important;
			
			input.checkbox {
				float: left;
				margin-top: 1px;
			}
			.checkboxfield-small {
				margin: 0 0 0 16px;
			}
		}
		.dropdown {
		
		}
	}
	.zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock {
		transition: background 300ms ease, border 300ms ease, box-shadow 300ms ease;
		background: rgba(#000, .05);
		border: 1px solid #AAA !important;
		padding: 8px 14px 0 !important;
		position: relative;
		
		&:hover {
			box-shadow: 0 0 0 1px #666 !important;
		}
		&.zauberfisch\\PageBuilder\\Model\\Block\\Base {
			padding: 15px 15px 0 !important;
			border-color: #CCC !important;
			box-shadow: none !important;
		}
		&.pre-delete {
			border: 1px solid rgba(#F00, .8) !important;
			background: rgba(#F00, .05);
		}
		&.drag-ghost {
			border: 1px dashed #000 !important;
			box-shadow: none !important;
			height: 100px;
			
			* {
				display: none !important;
			}
		}
		label {
			width: auto;
			padding: 0 0 8px;
			margin: 0;
		}
		div.field {
			padding: 0 0 8px;
			margin: 0;
			border: 0;
			box-shadow: none;
		}
		.PageBuilder_Value_Block-ClassNameInfo {
			opacity: .5;
			padding: 0;
			font-size: small;
			margin: 0 0 10px;
		}
		.PageBuilder_Value_Block-Controls {
			transition: opacity 300ms ease;
			position: absolute;
			right: 5px;
			top: 5px;
			opacity: 0;
			white-space: nowrap;
			
			> * {
				display: block;
				float: right;
				margin: 0 4px;
				padding: 2px;
				
			}
			.PageBuilder_Value_Block-Reorder {
				height: 22px;
				width: 16px;
				cursor: move;
				background: center center no-repeat url('../images/reorder.png');
			}
			button:before {
				margin: 0;
			}
			.PageBuilder_Value_Block-Widths {
				@include clear-fix;
				display: none;
				float: left;
				margin: 0;
				
				div.PageBuilder_Value_Block-Width {
					width: 49%;
					float: left;
					margin: 0;
					
					label.left {
						display: none;
					}
					&.PageBuilder_Value_Block-WidthDesktop {
						margin: 0 2% 0 0;
					}
					input {
						font-size: 10px;
						padding: 2px 4px;
					}
				}
			}
		}
		&.zauberfisch\\PageBuilder\\Model\\Block\\Base .zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock .zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock {
			.PageBuilder_Value_Block-Widths {
				display: block;
			}
		}
		&:hover {
			> .PageBuilder_Value_Block-Controls {
				opacity: 1;
			}
		}
	}
	.zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock {
		grid-column: span 1;
		//align-self: start;
		align-self: stretch;
		justify-self: stretch;
		
		> div.field.PageBuilder_Value_Block_BlockGroup-Blocks {
			display: grid;
			grid-gap: 10px;
			grid-template-rows: auto;
			grid-template-columns: 100%;
			margin: 0 -15px;
			min-height: 100px;
		}
		&.zauberfisch\\PageBuilder\\Model\\Block\\Base > div.field.PageBuilder_Value_Block_BlockGroup-Blocks {
			margin: 0;
		}
	}
	&[data-grid-mode="desktop"] {
		@for $i from 2 through 12 {
			.zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock[data-width-desktop="#{$i}"] {
				grid-column: span $i;
				
				> div.field.PageBuilder_Value_Block_BlockGroup-Blocks {
					grid-template-columns: repeat($i, 1fr);
				}
			}
		}
		input.PageBuilder_Value_Block-WidthDesktop {
			background: #DBF8FF;
		}
	}
	&[data-grid-mode="tablet"] {
		> .middleColumn {
			width: 600px;
		}
		@for $i from 2 through 12 {
			.zauberfisch\\PageBuilder\\Model\\Block\\AbstractBlock[data-width-tablet="#{$i}"] {
				grid-column: span $i;
				
				> div.field.PageBuilder_Value_Block_BlockGroup-Blocks {
					grid-template-columns: repeat($i, 1fr);
				}
			}
		}
		input.PageBuilder_Value_Block-WidthTablet {
			background: #DBF8FF;
		}
	}
}

.PageBuilderDialog-Form {
	#BlockType {
		border: 0;
		box-shadow: none;
		
		label.left {
			font-size: 17px;
			line-height: 20px;
		}
		ul {
			display: grid;
			grid-gap: 10px;
			grid-template-rows: auto;
			grid-template-columns: repeat(4, 150px);
			
			li {
				margin: 0;
				padding: 0;
				position: relative;
				width: auto;
				float: none;
				align-self: stretch;
				justify-self: stretch;
				
				input {
					position: absolute;
					top: 150px;
					left: 10px;
					margin: 1px 0 0;
				}
				label {
					display: block;
					padding: 10px;
					margin: 0;
					
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						border: 1px solid #AAA;
						background: rgba(#000, .05);
					}
					span {
						display: block;
						position: relative;
						
						&.block-type-icon {
							padding: 0 0 120px;
							position: relative;
							margin: 10px;
							height: 0;
							background: center center no-repeat / contain;
							
							span {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								font-size: 50px;
								line-height: 1;
								font-weight: bold;
							}
						}
						&.block-type-title {
							padding: 0 0 0 18px;
						}
					}
				}
				input:checked + label:before {
					background: rgba(#000, .15);
				}
			}
		}
	}
}