@import "variables";

.button {
	width: 64px;
	padding: 6px 4px 4px;
	display: block;
	cursor: pointer;
	font-size: 11px;
	background: rgba(#000, .1);

	.icon {
		display: block;
		width: 32px;
		margin: 0 auto 4px;
	}

	.title {
		display: block;
		text-align: center;
	}
}
