@import "variables";

.indicator {
	height: 30px;
	margin-top: -29px;
	font-size: 12px;
	line-height: 12px;
	position: fixed;
	display: flex;
	padding: 2px;
	background: $brand-primary;
	align-items: center;
	color: white;

	* {
		color: white;
	}
}
