@import "variables";

.toolbar {
	position: sticky;
	z-index: 100;
	//margin: 0 0 30px;
	margin: 0 0 3px;
	top: -20px;
	//height: 94px;

	.toolbarInner {
		//position: absolute;
		//top: 0;
		//right: 0;
		//left: 0;
		padding: 2px;
		border-bottom: 1px solid $btn-secondary-border;
		background: $body-bg-dark;

		.toolbarRow {
			display: flex;
			padding: 1px;
			line-height: 30px;
			flex-wrap: wrap;
		}
	}
}
