@import "variables";

.handle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	background: $brand-primary;
	color: $white;
	width: 24px;
	height: 24px;
	z-index: 45;
	opacity: 0;

	&:hover {
		opacity: 1;
	}

	.icon {
		display: block;
		width: 20px;

		svg {
			width: 100%;
		}
	}
}
