@import "variables";

.fieldHolder {
	input {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	.buttons {
		border: 1px solid #ced5e1;
		border-left: 0;
		display: flex;

		button {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}
