@import "variables";

.container {
	padding: 10px;
	background: white;
	border: 1px solid #ced5e1;
	position: relative;
	border-radius: .23rem;
}

.image {
	padding: 0 0 50%;
	background: center center no-repeat;
}

.control {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;

	.label {
		background: $body-bg-dark;
		border: 1px solid $body-bg-dark;
		color: #43536d;
		line-height: 20px;
		padding: 4px;
		font-size: 14px;
	}
}
