// Import core variables from silverstripe/admin
@import "variables";

.todo-IndicatorDiv {
	height: 30px;
	margin-top: -29px;
	font-size: 12px;
	line-height: 12px;
	position: fixed;
	display: flex;
	padding: 2px;
	background: blue;
	align-items: center;
	color: white;

	* {
		color: white;
	}
}

.todo-component-selected {
	outline: solid red !important;
}
